# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List of libraries used by Data Scientists
- evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. dyplr
3. ggplot2

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author
Aymane ABDENNOUR